.nav-bar {
    font-family: 'Righteous', cursive;
    background-color: $pink;
    border-bottom: solid 5px  #E5005C;
    color: #fff;
    box-shadow: 200px;

    .container {
        height: $nav-bar-height;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;

        a, a:hover, a:active, a:visited, button {
            color: white;
        }

        .left-links {
            flex: auto;
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;

            a {
                font-size: 24px;
                margin: 0 15px;
            }
        }

        .right-links {
            flex: auto;
            display: flex;
            justify-content: flex-end;
            padding-right: 15px;

            a, button {
                margin: 0 10px;
                font-size: 24px;
            }
        }
    }
}
