.coming-soon-layout {
  padding: 0 15px;

  .container {
    max-width: 600px;
  }
  
  .shit {
    font-size: 75px;
    padding: 50px 0;
  }
  .well-this {
    font-size: 24px;
    padding-bottom: 25px;
  }
  .blah-blah {
    font-size: 16px;
    padding-bottom: 150px;
    text-align: justify;
    p {
      margin-bottom: 25px;
    }
  }
}
