.about-me-layout {
  background: $black;
  flex: 1 0 0%;
  padding-bottom: 25px;

  .container {
    padding: 15px;
    max-width: 600px;

    h1 {
      text-align: center;
      color: $white;
      font-size: 32px;
    }
    
      
    .header {
      font-size: 2rem;
      color: $white;
    }

    .things-i-like {
      padding-top: 15px;
      flex: 0 0 50%;
      color: white;
      display: flex;
      justify-content: center;
      
      .thing {
        background: $white;
        color: $black;
        border-radius: 0 0 15px 15px;
        overflow: hidden;
        max-width: 250px;

        @import './components/ThingILike/index.scss';
      }


      .center-thing {
        height: 450px;
        width: 300px;
        z-index: 1000;
      }

      .left-thing,
      .right-thing,
      {
        height: 400px;
        width: 300px;
        margin-top: 20px;
        z-index: 999;
        cursor: pointer;
        background: $light-gray;
        opacity: .5;
      }
      .left-thing {
        margin-right: -200px;
      }

      .right-thing {
        margin-left: -200px;
      }
      
    }
  
  }

}
