.project-layout {
    padding: 15px 0 125px 0;
    background: $dark-gray;
    flex: 1 0 auto;

    .projects-slide-show {
        flex: 1 0 100%;
        height: 100%;
        max-width: 450px;
        margin: 0 auto;
        background: $white;
        border: solid 2px $dark-gray;

        .project-slide {
            padding: 25px 50px 50px 50px;
            min-height: 300px;
        }
    }

    .controls {
        max-width: 450px;
        display: flex;
        flex-direction: row-reverse;
        background-color: $white;

        .previous-slide, .next-slide {
            color: $dark-gray;
            background: $lighter-gray;
            cursor: pointer;
            width: 50px;
            padding: 5px 15px;

            &:not(.disabled) {
                &:hover {
                    // background: $light-gray;
               
                }
            }

            &.disabled {
                cursor: default;
                color: $light-gray;
            }
        }

        .previous-slide {
            flex: 0 0 0%;
        }

        .next-slide {
            flex: 0 0 0%;
        }
    }
}
