.project-layout {
    padding: 15px 0 125px 0;
    background: $dark-gray;

    .projects-slide-show {
        flex: 1 0 100%;
        padding: 25px 50px 50px 50px;
        height: 100%;
        max-width: 450px;
        margin: 0 auto;
        background: $white;
        border: solid 2px $dark-gray;

        .project-slide {
            .project-code-name {
                padding: 5px 0;
                font-size: 1.25rem;

                .code-name {
                    font-style: italic;
                    white-space: nowrap;
                }
            }

            .project-id {
                padding: 5px 0;
                font-size: 0.75rem;

                .id {
                    font-weight: bold;
                    white-space: nowrap;
                }
            }

            .project-image-container {
                padding: 25px 0;
                text-align: center;

                img {
                    @include responsive-image;
                    max-width: 400px;
                    border: solid 2px $dark-gray;
                }
            }

            .project-description-container {
                width: 100%;
                line-height: 1.25rem;

                .project-description {
                    margin: 0 auto;
                    text-align: justify;

                    p {
                        text-indent: 25px;
                        margin: 5px auto 45px auto;
                    }
                }
            }
        }
    }

    .controls {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        height: 50px;
        display: flex;

        .previous-slide, .next-slide {
            @include flex-center-center;

            flex: 0 0 calc(50% - 1px);
            color: $white;
            background: rgba($dark-blue, 1);
            cursor: pointer;

            &:not(.disabled) {
              &:hover {
                background: $darker-blue;
            }
            }

            &.disabled {
              cursor: default;
              color: $dark-gray;
            }
        }

        .previous-slide {
            text-align: left;
        }

        .next-slide {
            text-align: right;
            border-left: 2px solid $black;
        }
    }
}
