.welcome-panel {
    position: absolute;
    top: 0;
    right: 0;
    flex: none;
    background-color: $white;
    height: 75px;
    display: flex;
    flex-direction: row;
    z-index: $z-welcome-panel;
    width: 40%;
    cursor: pointer;

    &.expanded {
        height: 100%;
        width: 100%;
    }

    .message-container {
        display: flex;
        width: 100%;
            
        .message {
            flex: auto;
            color: $black;
            @include flex-center-center;
            text-align: center;
            padding: 10px;
            font-style: italic;
            font-size: 1rem;
        }

        .image {
            flex: initial;
            width: 75px;
            @include flex-center-center;
        }

    }

    .content {
        box-sizing: border-box;
        padding: 15px;
    }
    
    @media screen and (max-width: $bp-tablet-px) {
        width: 100%;
    }
}