.welcome-panel {
    position: absolute;
    top: 0;
    right: 0;
    flex: none;
    background-color: $white;
    height: 75px;
    display: flex;
    flex-direction: row;
    z-index: $z-welcome-panel;
    width: 100%;

    .image {
        flex: initial;
        width: 75px;
        @include flex-center-center;
    }

    .message {
        flex: auto;
        color: $black;
        @include flex-center-center;
        text-align: center;
        padding: 10px;
        font-style: italic;
        font-size: 1rem;
    }
}