@import './reset.scss';
@import './variables/index';
@import './mixins/index';

@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

/* FontAwesome */
$fa-font-path: "../assets/fontawesome/webfonts";
@import '../assets/fontawesome/scss/fontawesome';
@import '../assets/fontawesome/scss/fa-solid';
@import '../assets/fontawesome/scss/fa-regular';
@import '../assets/fontawesome/scss/fa-light';
@import '../assets/fontawesome/scss/fa-brands';


html, body, #root, .app-container {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    height: 100%;

    a {
      color: $black;
    }

    button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
        outline: none;
    }

    .app-container {
      display: flex;
      flex-direction: column;
    }

    .container {
        max-width: 900px;
        margin: auto;
    }

    @import './layouts/layouts';
    @import './components/index';
}
