@import './reset.scss';

@import url('https://fonts.googleapis.com/css?family=Righteous');

/* FontAwesome */



$fa-font-path: "../assets/fontawesome/webfonts";
@import '../assets/fontawesome/scss/fontawesome';
@import '../assets/fontawesome/scss/fa-solid';
@import '../assets/fontawesome/scss/fa-regular';
@import '../assets/fontawesome/scss/fa-light';
@import '../assets/fontawesome/scss/fa-brands';


html, body, #root {
    font-family: 'Righteous', cursive;
    height: 100%;

    button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
        outline: none;
    }

    .container {
        max-width: 900px;
        margin: auto;

        .row {
            display: flex;
            flex-direction: row;

            .column {
                
            }
        }

    }

    @import './layouts/layouts';
    @import './svg/_cloud';
}
