.resume-layout {
  flex: 1 0 auto;
  background-color: $dark-gray;
  padding: 15px;

  @media (max-width: $bp-tablet-px) {
    background-color: $white;
  }

  .resume-container {
    background-color: $white;
    border-radius: 5px;
    padding: 15px 15px 50px 15px;
    margin: 0px auto;

    .introduction-container {
      flex: 0 0 0;
      display: flex;
      padding-bottom: 25px;
      padding: 5px 15px 50px 15px;

      @media (max-width: $bp-tablet-px) {
        flex-direction: column;
        padding: 0 0 15px 0;
      }

      .head-shot-container {
        flex: 0 0 auto;

        @media (max-width: $bp-tablet-px) {
          flex: 1 0 100%;
          text-align: center;
        }

        .head-shot {
          height: 200px;
          width: auto;
          border-radius: 5px;
          border: solid $darker-blue;

          @media (max-width: $bp-tablet-px) {
            height: 100px;
            width: 100px;
            margin: 0 auto;
          }

        }
      }

      .introduction {
        flex: 0 1 auto;
        line-height: 1.5rem;
        padding: 15px 25px;

        @media (max-width: $bp-tablet-px) {
          flex: 1 0 100%;
          padding: 5px;
          text-align: center;
        }

        p {
          text-indent: 25px;
          margin-bottom: 15px;
        }
      }
    }

    .skills-and-experience-container {
      display: flex;

      @media (max-width: $bp-tablet-px) {
        flex-direction: column-reverse;
      }

      .skills-container {
        flex: 0 0 50%;
        align-items: center;
        justify-content: center;

        .skill-set {
          margin-bottom: 45px;

          .title {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 25px;
            white-space: nowrap;

            @media (max-width: $bp-mobile-px) {
              font-size: 1rem;
            }
      

            span {
              border-bottom: solid $blue;
              border-left: solid 25px $blue;
              padding: 2px 15px 2px 5px;
            }
          }

          ul.skills {
            margin-left: 10px;
            .skill {
              margin: 10px 0 5px 5px;
              font-weight: bold;
            }
          }
        }
      }

      .experience-container {
        background-color: $white;
        flex: 0 0 50%;
        padding: 5px 15px 50px 15px;

        .professional-experience {
          margin-bottom: 20px;

          .title {
            padding: 5px 10px 2px 5px;
            font-size: 1.25rem;
            letter-spacing: -1.5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          .company-info {
            padding: 5px 5px 15px 5px;

            .company-name {
              margin-bottom: 10px;

              a {
                color: $pink;
                font-weight: bold;
              }
            }

            .role {
              padding-left: 10px;
              text-indent: 15px;
              line-height: 1.25rem; 
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
}
