.resume-layout {
  flex: 1 0 auto;
  padding: 15px;

  .skill-set {
    margin-bottom: 20px;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    ul.skills {
      margin-left: 10px;
      .skill {
        margin: 5px 0 5px 5px;
      }
    }
  }
}
