.social-links-container {
    .social-links {
        display: flex;
        justify-content: flex-end;
        background-color: $dark-gray;
        padding: 10px;
        .link-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 0;
            font-size: 35px;
            padding: 0 15px;

            a {
                color: rgba($dark-gray, 0.75);
            }
        }
    }
}
