.modal-container {

  .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(50,50,50,.75);
    z-index: $modal-background-z-index;

    .modal-content {
      background: $white;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }
  }
}
